<div class="padding-tb-20 padding-lr-15">

  <h4 class="display-block margin-0 margin-b-15" style="font-weight: 600;">List of titles</h4>

  <div class="filter display-flex margin-b-10">

    <div class="flex-fill display-flex">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input [(ngModel)]="listCriteria[0].value" type="text" class="form-control" placeholder="Search by name">
      </div>

      <div class="input-group margin-l-7">
        <span class="input-group-addon">
          <i class="fa fa-sort"></i>
        </span>
        <select [(ngModel)]="pagination.sorting" class="form-control form-select">
          <option value="Name ASC">Sort by name from A to Z</option>
          <option value="Name DESC">Sort by name form Z to A</option>
        </select>
      </div>

      <button (click)="getAll()" type="button" class="btn btn-primary padding-tb-2 margin-l-7"> 
        <i class="fa fa-search"></i> Search
      </button>

      <button (click)="exportExcel()" type="button" class="btn btn-info padding-tb-2 margin-l-7"> 
        <i class="fa fa-file"></i> Export File Excel
      </button>
    </div>

    <div>
      <button (click)="openDialog()" type="button" class="btn btn-success padding-tb-2 full-height"> 
        <i class="fa fa-plus"></i> Create
      </button>
    </div>
  </div>

  <div class="full-width display-block">
    <app-pagination [pagination]="pagination" (onGetAll)="getAll()" class="pull-right"></app-pagination>
  </div>


  <table class="table table-bordered margin-t-15">
    <thead>
      <tr>
        <th width="200">Title code</th>
        <th>Title name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pagination.items">
        <td>{{ item.codeValue }}</td>
        <td>{{ item.name }}</td>
        <td width="20" class="text-right">
          <button (click)="openDialog(item.id)" type="button" class="btn btn-primary btn-square btn-sm padding-tb-2">
            <i class="fa fa-edit"></i> Edit
          </button>
        </td>
      </tr>
      <tr *ngIf="pagination?.items?.length == 0">
        <td colspan="3" class="text-center">No data</td>
      </tr>
    </tbody>
  </table>
</div>