<div id="m-app" class="display-flex" style="flex-direction: column;">
    


  <div class="padding-tb-10 padding-lr-10">

    <button *ngIf="_session.user" (click)="singout()" type="button" class="btn btn-secondary pull-right">
      <i class="fa fa-sign-out"></i>
      Sign out
    </button>

    <button *ngIf="_session.user" type="button" class="btn btn-success margin-r-5 pull-right">
      <i class="fa fa-user"></i>
      {{ _session.user.name }} {{ _session.user.surname }}
    </button>

    <button routerLink="register" type="button" class="btn btn-danger margin-r-5 pull-right">
      <i class="fa fa-users"></i>
      Sign up
    </button>

    <button routerLink="login" *ngIf="!_session.user" type="button" class="btn btn-success margin-r-5 pull-right">
      <i class="fa fa-user"></i>
      Sign in
    </button>
    
  </div>

  <nav *ngIf="_session.user" class="navbar navbar-inverse margin-0">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
            <li>
              <a  routerLink="organization">Departments</a>
            </li>
            <li>
              <a routerLink="title">Titles</a>
            </li>
            <li>
              <a routerLink="organization-title">Departmental titles</a>
            </li>
            <li>
              <a routerLink="user-organization"> Organizational chart</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>

    <router-outlet></router-outlet>
</div>

