
<form autocomplete="off" class="login-form" style="margin-top: 250px;" [formGroup]="loginForm" novalidate (ngSubmit)="login()">

    <h3 class="text-center" style="color: #73baed;">Sign in</h3>

    <div class="form-group" [ngClass]="{'has-error': loginForm.get('userName').errors && loginForm.dirty  }" style="margin-top: 20px !important; margin-bottom: 5px !important;">
        <label class="bold">Username</label>
        <input type="text" class="form-control" placeholder="Please enter a username" autocomplete="off" name="userName" formControlName="userName">
    </div>
    <div ngxErrors="userName" class="has-danger">
        <small class="form-text text-danger" ngxError="required" [when]="['dirty', 'touched']">
            Username is not empty
        </small>
        <small class="form-text text-danger" ngxError="maxlength" [when]="['dirty', 'touched']">
            Maximum number of characters 255
        </small>
    </div>

    <div class="form-group"  [ngClass]="{'has-error': loginForm.get('password').errors && loginForm.dirty  }" style="margin-top: 20px !important; margin-bottom: 5px !important;">
        <label class="bold">Password</label>
        <input type="password" class="form-control" placeholder="Please enter a password" autocomplete="off" name="password" formControlName="password">
    </div>
    <div ngxErrors="password" class="has-danger">
        <small class="form-text text-danger" ngxError="required" [when]="['dirty', 'touched']">
            Password is not empty
        </small>
        <small class="form-text text-danger" ngxError="maxlength" [when]="['dirty', 'touched']">
            Maximum number of characters 32
        </small>
    </div>

    <div class="text-center" style="margin-top: 10px">
        <button type="submit" class="btn btn-success btn-square btn-sm" [disabled]="loginForm.invalid">Sign in</button>
    </div>

</form>
