<div class="padding-tb-20 padding-lr-15">

  <div>
    <h4 class="display-inline margin-t-0" style="font-weight: 600;">Organizational chart</h4>
  </div>

  <div class="full-width display-block">
    <app-pagination [pagination]="pagination" (onGetAll)="getAll()" class="pull-right"></app-pagination>
  </div>

  <table class="table table-bordered">

      <thead>
        <tr>
          <th width="150">Department code</th>
          <th colspan="3">Department name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngFor="let item of pagination.items; let index = index">

          <tr style="background: #ebf0f3;">
            <td (click)="item._isShow = !item._isShow; getUserOrganization(index)">
              <i style="font-weight: 600;" class="margin-r-6 fa fa-angle-{{ item._isShow ? 'down' : 'right' }}"></i> {{ item.codeValue }}
            </td>
            <td colspan="3">{{ item.name }}</td>
            <td width="20" class="text-right">
                <button (click)="addUserOrganization(item)" type="button" class="btn btn-success btn-square btn-sm padding-tb-2" >
                  <i class="fa fa-plus"></i> Create</button>
            </td>
          </tr>

          <ng-container *ngIf="item._isShow">

            <tr style="background: #e3e9d2;">
              <th width="100"></th>
              <th>Username</th>
              <th>Full name</th>
              <th>Title</th>
              <th></th>
            </tr>

            <tr *ngFor="let userOrganization of item.userOrganizations">
              <td></td>
              <td>{{ userOrganization.user.userName }}</td>
              <td>{{ userOrganization.user.name }} {{ userOrganization.user.surname }}</td>
              <td>{{ userOrganization.title.name }}</td>
              <td width="20" class="text-right">
                <button (click)="updateTitleUserOrganization(item, userOrganization)" type="button" class="width-65 btn btn-primary btn-square btn-sm padding-tb-2" >
                  <i class="fa fa-edit"></i> Edit</button>
              </td>
            </tr>

            <tr *ngIf="!item.userOrganizations || item.userOrganizations.length == 0">
              <td colspan="5" class="text-center">Data not available</td>
            </tr>

          </ng-container>

        </ng-container>
  
      </tbody>
  </table>
</div>